<head>
    <title>SwapJo</title>
    <link rel="icon" type="image" href="images/logo.jpg" />
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
</head>

<body>
    <!-- Header -->
    <header class="header">
        <div class="container">
            <nav class="nav">
                <div class="nav-logo">
                    <a href="#" class="nav-logo__link" title="logo">
                        <img src="images/logo.jpg" style="width: 100px; height: auto;" alt="Logo" />

                    </a>
                </div>
            </nav>
            <div class="hero">
                <div class="hero-text">
                    <h1 class="hero-text__main" style="text-align: right;">... أهلا وسهلا</h1>
                    <p class="hero-text__subs" style="text-align: right;">يحتل تطبيقنا الالكتروني المركز الثاني ضمن أهم
                        التطبيقات المجانية لفئة
                        .الأعمال يليه تطبيق شركة أمنية للاتصالات</p>
                    <!-- <a class="hero-text__btn" href="#">Discover Us</a> -->
                </div>
                <div class="hero-image">
                    <img class="hero-image__main" src="https://bit.ly/2pzDwgc" alt="Images">
                </div>
            </div>
        </div>
    </header>
    <!-- Main -->
    <main class="main" style="text-align: right;">
        <section class="about">
            <div class="container">
                <div class="about-image">
                    <img class="about-image__main" src="https://bit.ly/2D7MxjT" alt="Images">
                </div>
                <div class="about-text">
                    <h1 class="about-text__main">:العرض يشمل ما يلي</h1>
                    <p class="about-text__subs">الالاف المشاهدات بيوم واحد ومن حسابات اردنية موثقة.
                        ما لا يقل عن ألف لايك ومتابعة للصفحة من متابعينا.
                        ما لا يقل عن ألف لايك للإعلان.
                        مئات التعليقات الإيجابية.
                        إرسال إشعار لموبايلات جميع من يستخدم التطبيق ( الآلآف ).
                        مشاركة اعلانكم فيما لا يقل عن 100 جروب منوع على الفيسبوك.
                        .هديه فتح قسم جديد لكل معلن في ركن ( تنزيلات وعروض أسعار ) ولمدة شهر كااامل مجانا</p>
                </div>
            </div>
        </section>
        <section class="service">
            <div class="container">
                <div class="card card-1">
                    <div class="card-image">
                        <img src="https://bit.ly/37hmX9N" alt="Images">
                    </div>
                    <div class="card-text">
                        <h2 class="card-text__title">كل ذلك مقابل (30) دينار فقط</h2>
                        <p class="card-text__subs">في حال الرغبة بتمويل اعلانك بواسطة خبرائنا في التمويل والاستهداف
                            الدقيق والمدروس جيدا يتم إضافة (10%) فقط من قيمة
                            التمويل بدل عمولة.
                            ملاحظة هامة : هنالك زيادة يومية من 1000 إلى 2000 مستخدم جديد للتطبيق وهذا يعني مشاهدات جديدة
                            للتطبيق
                        </p>
                    </div>
                </div>
                <div class="card card-2">
                    <div class="card-image video-container">
                        <!-- <img src="https://bit.ly/2Xx6MAH" alt="Images"> -->
                        <video controls>
                            <source src="images/vid1.mp4" type="video/mp4">

                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="card-text">
                        <h2 class="card-text__title">مؤسسة بشرى الخير للتجارة والتسويق تطبيق Swap Jo</h2>
                        <p class="card-text__subs"><a
                                href="https://play.google.com/store/apps/details?id=com.aboudsafyh.swapjo">play
                                store</a> رابط التطبيق على متجر
                        </p>
                    </div>
                </div>
                <div class="card card-3">
                    <div class="card-image video-container">
                        <!-- <img src="https://bit.ly/2O0Ftf9" alt="Images"> -->
                        <video controls>
                            <source src="images/vid2.mp4" type="video/mp4">

                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="card-text">
                        <h2 class="card-text__title">مؤسسة بشرى الخير للتجارة والتسويق تطبيق Swap Jo</h2>
                        <p class="card-text__subs"><a href="https://apps.apple.com/us/app/swap-jo/id1660928921">apple
                                store</a> رابط التطبيق على متجر
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="contact">
            <div class="container">
                <div class="contact-image">
                    <img src="https://bit.ly/32Y3o34" alt="Images">
                </div>
                <div class="contact-form">
                    <h2 class="contact-title">في حال رغبتم بالاستفادة من هذا العرض يرجى تعبئة الحقول أدناه التي تتضمن
                        الاسم ( الشخصي أو اسم الشركة أو المتجر) ورقم
                        الموبايل وسيتم التواصل معكم</h2>
                    <form class="form" action="/submit" method="post">
                        <div class="form-group group-1">
                            <input type="text" name="name1" class="align-right form-input" placeholder="اسم المتجر">
                        </div>
                        <div class="form-group group-2">
                            <input type="text" name="number1" class="align-right form-input" placeholder="رقم الموبايل">
                        </div>
                        <div class="form-group group-1">
                            <input type="text" name="name2" class="align-right form-input" placeholder="اسم المسوق">
                        </div>
                        <div class="form-group group-2">
                            <input type="text" name="number2" class="align-right form-input"
                                placeholder="رقم الموبايل على التطبيق">
                        </div>
                        <!-- <div class="form-group group-3">
                            <textarea name="message" rows="5" class="form-textarea"
                                placeholder="Input Your Messages"></textarea>
                        </div> -->
                        <div class="form-group group-4">
                            <input type="submit" class="form-submit" value="تسجيل">
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>

    <script>
        // Basic With Easing
        gsap.from(".about-text", { duration: 3, y: -150, opacity: 0, ease: "back.out(2)" });
        gsap.from(".about-image", { duration: 3, x: -150, opacity: 0, ease: "sine.inOut(2)" });

        // Basic With Delay
        gsap.from(".card-1", { duration: 1.5, delay: 1.1, y: 50, opacity: 0 });
        gsap.from(".card-2", { duration: 1.5, delay: 1.3, y: 50, opacity: 0 });
        gsap.from(".card-3", { duration: 1.5, delay: 1.5, y: 50, opacity: 0 });


        // Basic With Timeline 1
        var timeline = gsap.timeline({
            // Add Some Default Option Here
        });

        timeline
            .from(".hero-text__main", { x: -150, duration: 1.5, opacity: 0 })
            .from(".hero-text__subs", { y: -100, duration: 1.2, opacity: 0 })
            .from(".hero-text__btn", { y: -100, duration: 1, opacity: 0 })
            .from(".hero-image__main", { x: 100, duration: 1, opacity: 0 });

        timeline
            .from(".contact-image", { duration: 1, y: 100, opacity: 0 })
            .from(".contact-title", { duration: 1, y: -50, opacity: 0 })
            .from(".group-1", { duration: 0.5, y: -50, opacity: 0 })
            .from(".group-2", { duration: 0.6, y: -50, opacity: 0 })
            .from(".group-3", { duration: 0.7, y: -50, opacity: 0 })
            .from(".group-4", { duration: 0.8, y: -50, opacity: 0 });
    </script>

</body>